* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

app-sidebar {
  flex-shrink: 0; // Impede que o sidebar seja comprimido
}

.main-content {
  flex: 1; // Ocupa todo o espaço restante
  overflow-y: auto; // Permite scroll se o conteúdo for grande
  padding: 24px;
  background-color: #f5f5f5;
}