.sidebar{
  height: 100vh;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 1em;

  & ul{
    list-style: none;
    width: 100%;

    & li{
      margin: 15px 0;
      display: flex;
      width: 100%;

      & a{
        color: #ecf0f1;
        text-decoration: none;
        font-size: 1em;
        font-family: "Poppins", sans-serif;
        padding: 1em 2em;
        width: 100%;
        border-radius: 1em;

        &:hover{
          color: #c9c9c9;
          background-color: #466482;
          cursor: pointer;
        }
      }
    }
  }

}