.carteira-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Poppins", sans-serif;

    h1 {
        color: #2c3e50;
        margin-bottom: 20px;
        text-align: center;
    }

    .secoes-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-top: 20px;

        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
    }
}
